@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    /* filter: grayscale(60%); */
    -webkit-tap-highlight-color: transparent;

    background-color: rgb(9, 9, 9);
    font-family: "JetBrains Mono";
  }

  body {
    font-size: 1.6rem;
    color: #ffffffea;
    height: 100%;
    width: 100%;
  }
}
